* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Open Sans";
  font-size: 18px;
}

a {
  text-decoration: none;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 250px;
}

.logo {
  width: 50px;
  border-radius: 25%;
}

.links ul {
  list-style-type: none;
}

.links a {
  color: #fff;
}

.links a:hover {
  color: #aaa;
}

.links-list {
  display: flex;
  gap: 24px;
}